<mat-card class="card">
  <mat-card-header class="header">
    <img src="assets/avatar.png" class="avatar">
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px" class="user-info">
      <mat-grid-tile [colspan]="1">
        <div class="user-prop">
          <h3 class="sub-title">{{ user.username }}</h3><br>
          <h4 class="hint">{{ user.first_name }} {{ user.last_name }}</h4>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <div class="user-prop align-center">
          <h3 class="sub-title" *ngIf="user.tasks">{{ user.tasks.length }}</h3><br>
          <h4 class="hint">Number of Tasks</h4>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <div class="user-prop">
          <h3 class="sub-title">{{ user.email }}</h3><br>
          <h4 class="hint">Email</h4>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
