.app-logo {
	font-size: 1em;
	padding: 10px 20px;
}

.icon {
	font-size: 2em !important;
	margin-right: .5em;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar {
	height: 4em;
	box-shadow: 5px 5px 15px #777777;
}
